.welcome {
    color: Black;
    font-size: 70px;
    margin-top: calc(10% - 5px);
    margin-left: calc(33% - 50px);
    opacity: 1;
    font-family: "Audiowide";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.welcome .letter {
    display: inline-block;
    line-height: 1em;
}
#load {
    width: 15%;
    height: 15%;
    margin-left: calc(44% - 10px);
    content: url(../img/load.gif);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
}
