.welcome {
    color: Black;
    font-size: 70px;
    margin-top: calc(10% - 5px);
    margin-left: calc(33% - 50px);
    opacity: 1;
    font-family: "Audiowide";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.welcome .letter {
    display: inline-block;
    line-height: 1em;
}
/* #load {
    width: 15%;
    height: 15%;
    margin-left: calc(44% - 10px);
    content: url(../img/load.gif);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
}
 */
.loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#f03355;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    animation: sh1 2s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes sh1 {
  33% {border-radius: 0;background:#514b82 ;clip-path: polygon(0 0,100% 0,100% 100%,0 100%)}
  66% {border-radius: 0;background:#ffa516 ;clip-path: polygon(50% 0,50% 0,100% 100%,0 100%)}
}
